@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');


/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(0, 7, 36);
}

header {
    background-image: url(/asset/space-hero-fix.webp);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

/* Navbar */
nav {
    display: flex;
    position: sticky;
    top: 0;
}

nav-menu {
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav-menu a {
    color: white;
    text-decoration: none;
}

nav-menu h1 a {
    font-size: 20pt;
    color: white;
}

nav-menu ul li a,
nav-menu a p {
    font-size: 15pt;
}

nav-menu a p {
    border: 2.5px solid rgb(23, 132, 204);
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 50px;
    transition: all .1s;
}

nav-menu a p:hover {
    background: rgb(23, 132, 204);
}

nav-menu ul {
    display: flex;
    width: 30%;
    justify-content: space-between;
    list-style: none;
    transition: all .5s;
}

nav-menu ul li:hover::after {
    content: '';
    display: block;
    width: 25px;
    margin: auto;
    margin-top: 3px;
    border: 2px solid blue;
    border-radius: 10px;
    margin-bottom: -13px;
}

div.burger {
    display: none;
}

/* Navbar End */

/* Hero */
hero-site {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas:
        'headline hero-img'
    ;
    height: 90vh;
}

hero-site .headline {
    grid-area: headline;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        'headline'
        'subheadline'
        'btn-cta'
    ;
    gap: 5px;
}

.headline * {
    display: flex;
    margin-left: 50px;
    height: 100%;
    color: white;
}

.headline h1 {
    align-items: flex-end;
    font-size: 30pt;
}

.headline p {
    align-items: center;
    font-size: 18pt;
}

.headline .btn-cta {
    display: flex;
    place-content: center;
    align-items: center;
    font-size: 18pt;
    font-weight: 600;
    height: 80px;
    width: 50%;
    border-radius: 50px;
    background-color: rgb(23, 132, 204);
    cursor: pointer;
    transition: all .2s;
}

hero-site .hero-img {
    grid-area: hero-img;
}

/* Hero End */

/* Article Slide */
.article-container {
    display: flex;
    height: 30vh;
    margin: 1em;
}

.article-container article {
    flex-basis: 25%;
    margin: 10px;
    background-color: blueviolet;
    border-radius: 10px;
}
/* Article Slide End */

/* Media Size Breakpoint */

/* Tablet Size */
@media screen and (max-width: 768px) {

    /* Navbar */
    nav-menu ul {
        width: 40%;
    }

    /* Navbar End */

    /* Hero */
    .headline h1 {
        font-size: 20pt;
    }

    .headline p {
        font-size: 15pt;
    }

    .headline .btn-cta {
        font-size: 13pt;
        height: 50px;
    }

    /* Hero End */
}

@media screen and (max-width: 576px) {

    body {
        overflow-y: hidden;
    }

    /* Navbar */
    nav {
        height: 10vh;
        justify-content: space-between;
        background-color: teal;
    }

    /* Burger Menu Layout */

    nav div.burger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        height: 25px;
        width: 27px;
        margin: 15px;
        margin-left: 4%;
        z-index: 1;
    }

    div.burger div {
        height: 4px;
        width: 100%;
        /* margin: 6px auto; */
        border-radius: 50px;
        background-color: white;
        transition: all .5s;
    }

    div.burger input {
        position: absolute;
        height: 25px;
        width: 27px;
        opacity: 0;
        z-index: 2;
    }

    /* Burger Menu Animations */

    div.burger div:nth-child(2) {
        transform-origin: 0 0;
    }

    div.burger div:nth-child(4) {
        transform-origin: 0 100%;
    }

    div.burger input:checked~div:nth-child(2) {
        transform: rotate(45deg) translate(4px, 1px);
    }

    div.burger input:checked~div:nth-child(3) {
        transform: scale(0);
        opacity: .5;
    }

    div.burger input:checked~div:nth-child(4) {
        transform: rotate(-45deg) translate(1px, 2px);
    }

    nav-menu {
        width: 70%;
        height: 15vh;
        border-radius: 0 0 50px 50px;
        background-color: darkcyan;
    }

    nav-menu a:nth-child(3) {
        display: none;
    }

    nav-menu ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content: space-around;
        text-align: center;
        font-weight: bold;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100%;
        transform: translateY(100%);
        background-color: teal;
    }

    nav-menu ul.slide {
        transform: translateY(0);
    }

    nav-menu ul li:hover::after {
        display: none;
    }

    nav-menu h1 {
        text-align: center;
        width: 100%;
    }

    /* Navbar End */

    /* Hero */
    hero-site {
        display: none;
    }

    /* Hero End */
}